.address {
  max-width: 1920px;
  width: 100%;
  margin-bottom: 100px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  height: 800px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 680px;
    height: 365px;

    background-image: url('/border.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 680px;
    height: 365px;

    background-image: url('/border.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transform: rotate(180deg);
  }
}

.title {
  margin: 0;
  color: #3e5573;
  text-transform: uppercase;
  font-family: var(--font-playfair);
  font-weight: 300;
  font-size: 52px;
}

.text {
  max-width: 560px;
  margin: 0;
  margin-top: 50px;

  color: #3e5573;
  font-size: 17px;
  font-family: var(--font-open-sans);
  font-weight: 100;
  text-align: center;
}

.love {
  margin: 0;
  margin-top: 30px;
  color: #3e5573;
  font-size: 17px;
  font-family: var(--font-open-sans);
  font-weight: 100;
  text-align: center;
}

@media (max-width: 900px) {
  .container {
    max-width: 680px;
    width: 100%;
    height: 700px;

    &::after {
      left: 50%;
      transform: translateX(-50%);
      max-width: 594px;
      height: 318px;
    }

    &::before {
      max-width: 594px;
      height: 318px;
      left: 50%;
      transform: rotate(180deg) translateX(50%);
    }
  }

  .title {
    margin: 0;
    color: #3e5573;
    text-transform: uppercase;
    font-family: var(--font-playfair);
    font-weight: 300;
    font-size: 38px;
  }

  .text {
    max-width: 320px;
  }
}
@media (max-width: 654px) {
  .container {
    height: 700px;

    &::after {
      max-width: 494px;
      height: 270px;
    }

    &::before {
      max-width: 494px;
      height: 270px;
    }
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 512px) {
  .container {
    &::after {
      max-width: 394px;
    }

    &::before {
      max-width: 394px;
    }
  }
}

@media (max-width: 425px) {
  .container {
    height: 650px;

    &::after {
      max-width: 315px;
      height: 270px;
    }

    &::before {
      max-width: 315px;
      height: 270px;
    }
  }

  .title {
    font-size: 28px;
  }
  .text {
    max-width: 300px;
  }
}
