.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  transition: opacity 0.8s ease;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 800px;
    background: linear-gradient(to bottom, transparent, white);
  }
}

.frame {
  position: relative;
  z-index: 2;
  width: 980px;
  height: 560px;
  box-sizing: border-box;
  border-radius: 280px;
  padding: 15px;
  border: 5px solid #0d3752;
  background-color: #fffdf6;
  display: flex;
  align-items: center;

  &__inner {
    width: 100%;
    height: 100%;
    border-radius: 265px;
    border: 3px solid #0d3752;
    background-color: #fffdf6;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.imageWelcome {
  position: relative;
  width: 350px;
  height: 130px;
}

.imageBow {
  position: relative;
  width: 110px;
  height: 100px;
  margin-top: -50px;
}

.image {
  object-fit: contain;
}

.title {
  position: relative;
  margin: 0;
  color: #0d3752;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--font-playfair);

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 200px;
    height: 113px;
    background-image: url('/day.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.description {
  font-family: var(--font-open-sans);
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 300;
  color: #0d3752;
  max-width: 580px;

  line-height: 26px;
  text-align: center;
  margin: 0;

  margin-top: 65px;
}

.time {
  margin: 0;
  font-size: 32px;
  font-family: var(--font-playfair);
  color: #3e5573;
}

.circle {
  background-color: #0d3752;
  width: 10px;
  height: 10px;
  border-radius: 100%;

  margin-top: 20px;
}

@media (max-width: 1024px) {
  .frame {
    width: 890px;
  }
}

@media (max-width: 920px) {
  .frame {
    width: 540px;
    height: auto;
  }

  .imageWelcome {
    width: 350px;
    height: 130px;
    margin-top: 20px;
  }

  .imageBow {
    width: 140px;
    height: 120px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 90px;
  }

  .description {
    margin-top: 90px;
    line-height: 1.5;
    font-size: 23px;
    max-width: 457px;
  }
  .time {
    margin-top: 40px;
    font-size: 47px;
  }
  .circle {
    width: 15px;
    height: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 654px) {
  .frame {
    max-width: 430px;

    border: 4px solid #0d3752;
    &__inner {
      border: 2px solid #0d3752;
    }
  }

  .imageWelcome {
    width: 300px;
    height: 130px;
    margin-top: 0px;
  }

  .imageBow {
    width: 120px;
    height: 120px;
    margin-top: -30px;
  }
  .title {
    font-size: 70px;
  }

  .description {
    font-size: 19px;
    max-width: 369px;
  }
  .time {
    margin-top: 20px;
    font-size: 47px;
  }
  .circle {
    width: 15px;
    height: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .frame {
    max-width: 320px;
    border: 3px solid #0d3752;
    &__inner {
      border: 2px solid #0d3752;
    }
  }

  .imageWelcome {
    width: 230px;
    margin-top: 0;
  }

  .imageBow {
    width: 90px;
    height: 90px;
    margin-top: -40px;
  }
  .title {
    font-size: 50px;
    &::after {
      bottom: -55px;
      width: 130px;
    }
  }

  .description {
    margin-top: 60px;
    font-size: 14px;
    max-width: 261px;
  }
  .time {
    margin-top: 20px;
    font-size: 32px;
  }
  .circle {
    width: 10px;
    height: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
