.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3e5573;
  z-index: 9999;
  animation: fadeOut 4s ease forwards;
  pointer-events: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
