.border {
  margin: 80px auto;
  box-sizing: border-box;
  border: 6px solid white;
  max-width: 760px;
  padding: 20px;
  border-radius: 350px; /* shorthand достаточно */
}

.innerBorder {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  border: 3px solid white;

  /* 350px - 20px (padding родителя) = 330px */
  border-radius: 330px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 560px;
}

.title {
  margin: 0;
  margin-bottom: 40px;
  color: white;
  text-transform: uppercase;
  font-family: var(--font-playfair);
  font-weight: 100;
  font-size: 60px;
}

.text {
  margin: 0;
  margin-bottom: 20px;

  color: white;
  font-size: 17px;
  font-family: var(--font-open-sans);
  font-weight: 300;

  text-align: center;
}
.image {
  border-radius: 60px;
  margin: 20px 0 40px 0;
}

.subtitle {
  margin: 0;
  margin-bottom: 20px;

  color: white;
  text-transform: uppercase;
  font-family: var(--font-playfair);
  font-weight: 100;
  font-size: 40px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 248px;
  height: 60px;

  margin: 20px 0;

  background-color: #3e5573;
  border-radius: 30px;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-family: var(--font-open-sans);
  font-weight: 400;
  transition-duration: 0.2s;
  transition-property: background-color, color, border-color, opacity, transform;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.button:hover {
  color: #3e5573;
  background-color: white;
}
